body {
    position:relative;
    max-width: 1280px;
    max-height: 1166px;
    background: #DDDDDD;
}
.header {
    position: absolute;
    width: 1250px;
    height: 461px;
    left: 15px;
    top: 10px;
    background: #8F9BC7;
}
.photo {
    position:absolute;
    width: 338px;
    height: 337px;
    margin-left: 100px;
    margin-top: 72px;
    background:url(https://img.okezone.com/content/2021/09/20/455/2474151/miliarder-elon-musk-nekat-sindir-presiden-as-joe-biden-ada-apa-q7ySWqXGqn.jpg);
   
    border: 5px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 168.5px;
}
.profile h1{
    position: absolute;
    width: 340px;
    height: 76px;
    margin-left: 670px;
    margin-top: 88px;
    font-family: 'Times New Roman', Times, serif;
    font-style:normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 84px;
    color: #000000;
}
.profile h4 {
    position: absolute;
    width: 348px;
    height: 30px;
    left: 674px;
    top: 178px;
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}
.paragraph {
    position: absolute;
    width: 335px;
    height: 144px;
    left: 674px;
    top: 240px;

    font-family:'Times New Roman', Times, serif ;
    font-style: italic;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;

    color: #000000;
    

}
.main-left {
    position: absolute;
    width: 772px;
    height: 575px;
    left: 15px;
    top: 491px;
    background: #FFFFFF;
}
.main-left h2 {
    position: absolute;
    margin-left: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: normal;
    font-size:30px;
    line-height: 42px;
    text-decoration-line: underline;
    color:#000000;
}
.main-left p {
    position: absolute;
    width: 742px;
    height: 483px;
    left: 20px;
    top: 70px;

    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    font-style: normal;
    font-weight: normal;
    line-height: 40px;
}
.main-right {
    position: absolute;
    width: 458px;
    height: 575px;
    left: 807px;
    top: 491px;
    
    background: #8F9BC7;
}
.skills h2 {
    margin-left: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: normal;
    text-decoration-line:underline ;
    font-size: 30px;
    line-height: 42px;
}
.skills ul li{
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
 }
.contact h2 {
    margin-left: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: normal;
    text-decoration-line:underline ;
    font-size: 30px;
}
.contact span{
    font-size: 45px;
    line-height: 50px;
    margin-left: 20px;
    
}
.contact a {
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}
.footer {
    position: absolute;
    width: 1250px;
    height: 60px;
    left: 15px;
    top: 1086px;
    background: #8F9BC7;
}
.copyright p{
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    margin-left: 35%;
    margin-bottom: 10px;
}